# SuperTokens Configuration

CONNECTION_URI=your_supertokens_connection_uri
APP_NAME=your_app_name
API_DOMAIN=your_api_domain
WEBSITE_DOMAIN=your_website_domain
API_KEY=your_api_key

# Database Configuration

DB_HOST=your_database_host
DB_PORT=your_database_port
DB_USERNAME=your_database_username
DB_PASSWORD=your_database_password
DB_NAME=your_database_name